@import "../../../utils/breakpoints.scss";

.card-container {
    position: relative;
    display: flex;

    &:hover {
        background: #F5F5F5;
    }
 }

.card--expanding {
    width: 100%;

    padding: 0 .5rem;
    
    @media(min-width: $l-phone) {
        padding: 1rem 1rem 0 0;        
    }

    @media(min-width: $tablet) {
        padding-right: .5rem;        
    }

    &__data-source {       
        width: 1rem;
        
        padding-left: 1rem;
        padding-right: 1rem;

        z-index: 2;

        @media (max-width: $m-phone) {
            padding-left: 1rem;
            padding-right: 0;
        }
    }

    &__info {
        display: inline-grid;
        grid-template-rows: 4.5rem 2px;
        grid-template-columns: 8rem 1fr auto;
        grid-column-gap: .5rem;
        grid-row-gap: 1rem;

        width: 100%;
    }
    
    &__thumb-wrapper {                  
        width: 8rem;
        height: 4.5rem;
        
        margin-right: .5rem;

        @media (min-width: $tablet) {            
            margin-right: 1rem;
        }
    }
    
    &__meta {
        display: flex;
        flex-direction: column;       
        justify-content: space-between;

        @media(min-width: $l-phone) {
            margin-left: .5rem;
        }

        &--track-info {
            height: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    
    &__title {
        overflow: hidden;
        max-height: 2rem;

        margin-bottom: 0;

        color: black;
        font-weight: bold;
        font-size: .75rem;
        line-height: 1rem;

        @media(min-width: $l-phone) and (max-width: $tablet) {
            overflow: hidden;
            max-height: 2rem;

            font-size: .875rem;
            line-height: 1rem;
        }

        @media (min-width: $tablet) {
            font-size: 1rem;
        }
    }
    
    &__uploader {       
        color: grey;
        font-size: .625rem;

        @media (min-width: $l-phone) {
            color: grey;
            font-size: .75rem;
        }

        @media (min-width: $tablet) {
            color: grey;
            font-size: .875rem
        }
    }

    &__icons {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @media(min-width: $l-phone) {
            margin-left: .5rem;
            margin-right: .5rem;
        }

        &__expand {
            align-self: center;
        }
    }

    &__hr {
        display: none;
    
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    
        margin: 0;
          
        color: #F1F1F1;
    
        @media (min-width: $l-phone) {
            display: block;
        }
    }
}