@import "../../../utils/breakpoints.scss";

.card-details {
    &:hover {
        background: #F5F5F5;
    }

    &__error {
        &--not-saved {
            padding: 1rem 3rem;
        }
    }
}

.card-details:last-of-type hr {
    display: none;
}

.card--expanding {
    &__icons {
        align-self: center;

        &__alert {       
            stroke-width: 1;
            height: 1.25rem;
            width: 1.25rem;

            @media (min-width: $tablet) {
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        &__expand {
            stroke-width: 1;
            height: 1.25rem;
            width: 1.25rem;

            transform: rotate(180deg);

            &--clicked {
                transform: rotate(270deg);
            }

            @media (min-width: $tablet) {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

.card-summary {
    cursor: pointer;
    outline: none;
}

.card-summary::-webkit-details-marker {   
    display: none;
}

.difference {
    color: red;
}
