.floating-button__fetch {
    position: fixed;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3rem;
    height: 3rem;
    
    bottom: 1rem;
    left: 30%;
    
    z-index: 3;

    background: rgb(35, 65, 165);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #666;

    cursor: pointer;

    &:hover {
       box-shadow: 0px 4px 10px #666; 
    }
}
     
.floating-button__save {
   position: fixed;
   
   display: flex;
   align-items: center;
   justify-content: center;
   
   width: 3rem;
   height: 3rem;
   
   bottom: 1rem;
   right: 30%;
   
   z-index: 3;

   background: rgb(35, 65, 165);
   border: none;
   border-radius: 50%;
   box-shadow: 0px 2px 5px #666;

   cursor: pointer;

   &:hover {
      box-shadow: 0px 4px 10px #666; 
   }
}