.spinner {
    position: absolute;
    top: 50%;
    left: 50vw;

    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid #F5F5F5;
    border-radius: 50%;
    border-top-color: rgb(23, 46, 121);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}