@import "../../utils/breakpoints.scss";

.listview { 
    &__container {
        position: relative;
        display: flex;

        @media (min-width: $tablet) {
            margin-left: 16rem;

            + .sidebar.sidebar-hidden {
                margin-left: 0;
            }
        }
    }

    &__main {
        width: 100%;

        display: grid;
        grid-template-rows: auto;
        
        margin-top: 1rem;

        @media(min-width: $l-phone) {
            margin-left: 0;
        }

        @media (min-width: $tablet) {
            margin-top: 0;
        }

        &__item {
            display: flex;
            justify-content: space-between;
        }
    }

    &__spinner-container {
        display: flex;
        flex-direction: column;

        width: 100vw;

        @media (min-width: $tablet) {
            margin-left: 4rem;
        }
    }

    &__spinner {
        position: absolute;
        top: 41vh;

        align-self: center;
    
        width: 50px;
        height: 50px;

        border: 4px solid #F5F5F5;
        border-radius: 50%;
        border-top-color: rgb(23, 46, 121);

        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      
        @keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
    }
}