@import "../../../utils/breakpoints.scss";

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-between;

    background-color: #D62C2C;
    box-shadow: 1px 1px 10px #DCDCDC;
    color: white;

    z-index: 2;

    &__hamburger-button {
        margin-left: 1rem;
        padding: 0;

        background: inherit;
        border: none;
        color: white;
        cursor: pointer;
        outline: none;

        @media (min-width: $tablet) {
            display: none;
        }
    }
 
    &__title {
        align-self: center;

        font-weight: 800;

        @media(min-width: $tablet) {
            margin-left: 1.5rem;        
        }
    }

    &__buttons {
        display: flex;
        margin-right: 1rem;

        @media(min-width: $tablet) {
            margin-right: 1.5rem;        
        }

        &__settings {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0;

            background-color: inherit;
            border: none;
            outline: none;

            cursor: pointer;         

            &__logout {    
                stroke: white;
            }
        }
    }
 }