@import "../../utils/breakpoints.scss";

.login-page {
    &__container {
        @media (min-width: $tablet) {
            height: 80vh;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__card {
        height: 50vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        
        text-align: center;

        margin: 2rem 2rem;
        padding: 1rem;
        
        border: 1px solid #DCDCDC;
        box-shadow: 1px 1px 30px #DCDCDC;
        
        &__heading {
            font-size: .875rem;
        }

        &__message {
            font-size: .75rem;
        }

        #google-signin-button {
            height: 3rem;
        }

        &__footer {
            color: grey;
            font-size: .5rem;
        }

        @media (max-height: $m-phone-height) {
            margin: 1rem 1rem;
            padding: 2rem;
        }

        @media (min-width: $m-phone) {
            &__heading {
                font-size: 1rem;
            }
    
            &__message {
                font-size: .875rem;
            }
    
            #google-signin-button {
                height: 3rem;
            }
    
            &__footer {
                color: grey;
                font-size: .75rem;
            }
        }


        @media (min-width: $l-phone) {
            &__heading {
                font-size: 1.25rem;
            }
    
            &__message {
                font-size: 1rem;
            }
    
            #google-signin-button {
                height: 3rem;
            }
    
            &__footer {
                color: grey;
                font-size: .875rem;
            }
        }

        @media (min-width: $tablet) and (min-height: $l-phone-height) {
            padding: 0 5rem;
            margin: 5rem 10rem;

            &__heading {
                font-size: initial;
            }
    
            &__message {
                font-size: initial;
            }

            &__footer {
                color: grey;
                font-size: .8125rem;
            }
        }
        
        @media (min-width: $desktop) and (min-height: $l-phone-height) {
            padding: 0 5rem;
            margin: 10rem 28rem;

            &__heading {
                font-size: initial;
            }
    
            &__message {
                font-size: initial;
            }

            &__footer {
                color: grey;
                font-size: .8125rem;
            }
        }

        @media (min-width: 1645px) {
            padding: 0 12rem;
        }
    }

    &__header {
        justify-content: flex-start;

        .header__title {
            margin-left: 1rem;
        }
    }

    &__spinner-container {
        display: flex;
        flex-direction: column;

        width: 100vw;

        @media (min-width: $tablet) {
            margin-left: 4rem;
        }
    }

    &__spinner {
        position: absolute;
        top: 50vh;
        left: 48vw;
    
        width: 50px;
        height: 50px;

        border: 4px solid #F5F5F5;
        border-radius: 50%;
        border-top-color: rgb(23, 46, 121);

        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      
        @keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
    }
}