@import "../../utils/breakpoints.scss";

.simpleview {
    &__container {
        position: relative;
    
        width: 100%;

        @media (max-width: $l-phone) {
            display: grid;
            grid-template-rows: auto;
            grid-row-gap: .75rem;
            
            padding: .5rem 0;
        }
    
        padding-top: 1rem;
    }    
    
    &__title {
        @media (max-width: $l-phone) {
            margin: 0;
        }

        margin-top: 0;
        text-align: center;
    }

    &__spinner-container {
        display: flex;
        flex-direction: column;

        width: 100vw;

        @media (min-width: $tablet) {
            position: relative;
    
            width: 100%;
            height: 90vh;    
        }
    }

    &__spinner {
        position: absolute;
        top: 41vh;

        align-self: center;

        width: 50px;
        height: 50px;

        border: 4px solid #F5F5F5;
        border-radius: 50%;
        border-top-color: rgb(23, 46, 121);

        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
          
        @keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
    }
}  