@import "../../../utils/breakpoints.scss";

.sidebar {
    display: none;

    @media (min-width: $tablet) {
        position: fixed;
    
        display: flex;
        flex-direction: column;
    
        width: 16rem;
        height: 100%;
    
        background: #F5F5F5;
        overflow: scroll;

        z-index: 1;
    }

    &--floating {
        display: block;

        position: fixed;
    
        display: flex;
        flex-direction: column;
    
        width: 16rem;
        height: 100%;
        max-height: 100vh;
    
        background: #F5F5F5;
        overflow: scroll;

        z-index: 3;

        +.listview__container {
            position: fixed;

            height: 100vh;
            width: 100%;

            background: rgba(0, 0, 0, 0.85);  

            pointer-events: none;

            .card__playlist-name {
                color: black;
            }

            .card__playlist-position--mobile {
                color: black;
            }
    
            .card__uploader {
                color: black;
            }

            .card--expanding__uploader {
                color: black;
            }

            .card__hr {
                display: none;
            }

            .card--expanding__hr {
                display: none;
            }
        }
    }

    &--hidden {
        display: none;
    }

    &__list {
        &__button {
            display: flex;
            flex-shrink: 0;

            align-items: center;

            width: 100%;

            padding: .5rem 0;
            
            background: transparent;
            border: 0;
            color: rgb(10, 10, 10);
            cursor: pointer;
            outline: none;

            &:first-child {
                padding-top: 1rem;
            }

            &:hover {
                background: #DCDCDC;
            }

            &--active {
                background: #DCDCDC;

                &:hover {
                    background: #C6C6C6;
                }
            }

            &--normal {
                &:hover {
                    background: #DCDCDC;
                }
            }        

            &--icon {
                width: 2.5rem;
                height: 2rem;

                margin-left: 1.5rem;

                &--active {
                    color: #FE0202;

                    &--home {
                        fill: #FE0202;
                        stroke-width: 1px;
                    }
                }
            }

            &--text {
                height: 100%;
                width: 100%;

                margin-left: 2rem;
                margin-right: 1.5rem;
        
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                text-align: left;

                &--highlighted {
                    font-weight: 600;
                }
            }

            [data-tooltip] {
                &:hover {
					&:before, &:after {
						display: block;
						position: absolute;

						color: white;
						
						font-size: 0.8em;
					}
					&:before {
						content: attr(title);

						border-radius: 0.2em;
						background-color:  black;
						
						margin-top: -2.5em;
						padding: 0.3em;
					}
					&:after {
						content: '';

						border-style: solid;
						border-color: transparent;
						border-top-color: black;
						border-width: 0.5em 0.5em 0 0.5em;

						margin-top: -2.1em;
						margin-left: 1em;                    
					}
                }
            }
        }
    }

    &__hr {
        width: 100%;

        border-top: 1px solid #E0E0E0;
    }

    &__spinner {   
        display: inline-block;
        
        width: 50px;
        height: 50px;

        align-self: center;

        border: 4px solid #F5F5F5;
        border-radius: 50%;
        border-top-color: rgb(23, 46, 121);
        
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
      
        @keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
    }
}
