.app {
    &__spinner {
        position: absolute;
        top: 50%;
        left: 50vw;
    
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 4px solid #F5F5F5;
        border-radius: 50%;
        border-top-color: rgb(23, 46, 121);
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
          
        @keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
    }
}

.container {
    width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
	width: .5rem;
}

::-webkit-scrollbar-track {
	background: inherit;
}

::-webkit-scrollbar-thumb {
	height: .5rem;

    background: #c9c9c9;
}

.sidebar:hover::-webkit-scrollbar-thumb {
	background: #c9c9c9;
}

.sidebar::-webkit-scrollbar-thumb {
	height: .5rem;

    background: hsla(0, 0%, 53.3%, 0.0);
}