@import "../../../utils/breakpoints.scss";

.card-container {
    position: relative;
    display: flex;

    &:hover {
        background: #F5F5F5;
    }
 }

.card {
    width: 100%;

    padding: 0 1rem;
    
    @media(min-width: $l-phone) {
        padding: 1rem 1rem 0 0;        
    }

    @media(min-width: $tablet) {
        padding-right: .5rem;        
    }

    &__info {
        width: 100%;

        display: inline-grid;
        grid-template-columns: 8rem 1fr;
        grid-template-rows: 4.5rem 2px;
        grid-column-gap: .5rem;
        grid-row-gap: 1rem;

        @media (min-width: $l-phone) {
            grid-template-columns: 8rem 1fr auto 2rem;
        }
    }

    &__left {
        align-self: center;   
        text-align: center;

        @media(min-width: $l-phone) {
            min-width: 3rem;
        }
    }
    
    &__playlist-position {
        display: none;    
        
        z-index: 2;

        @media (min-width: $l-phone) {
            display: block;
        }

        &--mobile {
            display: block;

            color: grey;
            font-size: .675rem;

            @media (min-width: $m-phone) and (max-width: $tablet) {
                display: block;

                color: grey;
            }

            @media (min-width: $l-phone) {
                display: none;
            }
        }
    }
    
    &__thumb-wrapper {                  
        width: 8rem;
        height: 4.5rem;
        
        margin-right: .5rem;

        @media (min-width: $tablet) {            
            margin-right: 1rem;
        }
    }
    
    &__meta {
        display: flex;
        flex-direction: column;       

        margin-left: .5rem;
    }
    
    &__title {
        overflow: hidden;
        max-height: 1rem;

        margin-bottom: 1rem;

        color: black;
        font-weight: bold;
        font-size: .75rem;
        line-height: 1rem;

        @media(min-width: $l-phone) {
            overflow: hidden;
            max-height: 1rem;

            font-size: .875rem;
            line-height: 1rem;
        }

        @media (min-width: $tablet) {
            font-size: 1rem;
        }
    }
    
    &__uploader {       
        color: grey;
        font-size: .625rem;
        line-height: 1rem;

        @media (min-width: $l-phone) {
            color: grey;
            font-size: .75rem;
        }

        @media (min-width: $tablet) {
            color: grey;
            font-size: .875rem
        }
    }

    &__playlist-name {       
        color: grey;
        font-size: .625rem;

        @media (min-width: $l-phone) {
            font-size: .75rem;
        }

        @media (min-width: $tablet) {
            font-size: .875rem;
        }
    }

    &__hr {
        display: none;
    
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
    
        margin: 0;
          
        color: #F1F1F1;
    
        @media (min-width: $l-phone) {
            display: block;
        }
    }
}
 